.contenedor {
    background-color: gray;
    display:flex;
    height: 600px;
    width: 300px;
    padding:15px;
    justify-content: space-between;
}
.item { 
    font-size:30px; 
    text-align:center; 
    line-height:25px;
    background-color: silver;
}
fila2
display:flex
align