.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}
header {
    grid-column: span 3;
}
nav {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
main, .contacto {
    grid-column: span 3;
}
footer {
    grid-column: span 3;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr)*/
}