.container { 
    display: grid; 
    grid-gap: 5px; 

    grid-template-rows: repeat(12, auto);
    grid-auto-flow: row;
}
.fila:nth-child(1) {
    grid-column: span 12;
}
.fila:nth-child(n+2):nth-child(-n+3) {
    grid-column: span 6;
}
.fila:nth-child(n+4):nth-child(-n+6) {
    grid-column: span 4;
}
.fila:nth-child(n+7):nth-child(-n+10)  {
    grid-column: span 3;
}
.fila:nth-child(n+11):nth-child(-n+16) {
    grid-column: span 2;
}

div div {
    /*border: 1px solid black;*/

    border-radius: 1em;
    background-color: orange;
    font-size: 1.5em;
    color: white;


    text-align: center;
    padding: 1em;

}